<!DOCTYPE html>
<html lang="it">
<head>
  <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
  <style type="text/css">
    .gm-style .gm-style-cc span,.gm-style .gm-style-cc a,.gm-style .gm-style-mtc div{font-size:10px}
  </style>
  <style type="text/css">
    @media print {  .gm-style .gmnoprint, .gmnoprint {    display:none  }}
    @media screen {  .gm-style .gmnoscreen, .gmnoscreen {    display:none  }}
  </style>
  <style type="text/css">
    .gm-style-pbc{transition:opacity ease-in-out;background-color:rgba(0,0,0,0.45);text-align:center}
    .gm-style-pbt{font-size:22px;color:white;font-family:Roboto,Arial,sans-serif;position:relative;margin:0;top:50%;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%)}
  </style>

  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>BURB</title>
  <meta name="description" content="Biennale Urbana is an emerging trans-local agency that explores the limits and inhabits the existing distances in-between Biennale (Arts), Venice (City) and the Lagoon (Territory). Biennale Urbana serves as common ground between artistic action, transdisciplinary education and urban transformation.">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="apple-touch-icon" href="https://www.biennaleurbana.com/apple-touch-icon.png">
  <link rel="icon" href="https://www.biennaleurbana.com/favicon.ico">

  <!--link rel="stylesheet" href="https://www.biennaleurbana.com/assets/vendor/outdated-browser/outdatedbrowser/outdatedbrowser.css"-->
  <link rel="stylesheet" href="https://www.biennaleurbana.com/bundles/burb/css/main.css">
  <style type="text/css">
  .gm-style {
        font: 400 11px Roboto, Arial, sans-serif;
        text-decoration: none;
      }
    .gm-style img { max-width: none; }

    #etoile article{
      width : 100%;
      text-align: center;
    }
    #etoile article h1{
      text-align: center;
      font-size: 24px;
    }
    #etoile article h3{
      width : 100%;
      text-align: center;
      font-size: 16px;
      line-height: 30px;
      margin-bottom: 30px;
    }
    #etoile article h3 img{
      height: 30px;
      display: inline;
      margin-bottom: -10px;
      border-radius: 15px;
      -moz-border-radius: 15px;
      -webkit-border-radius: 15px;
    }
    #etoile article>div>img{
      height: 200px;
      max-width: 90%;
      text-align: center;
    }
  </style>
</head>
<body>
  <div id="map" style="width:100%;height:400px"></div>
  <div id="etoile">
    {%  for m in messages %}
        {% if m.type != "location" %}
        <article>
        <div>
            {% if m.type == "text" %}
                <h1 style="padding: 0 40px;">{{ m.text|convert_encoding('ISO-8859-1', 'UTF-8')}}</h1>
            {% endif %}
            {% if m.type == "location" %}
                <h1 style="cursor: pointer" class="locationArticle" onclick="pointTo({{ m.lat }},{{ m.lon }})"><a class="mapRdr" href="http://maps.apple.com/?q={{ m.lat }},{{ m.lon }}" target="_blank"></a> {{ m.lat }} — {{ m.lon }}</h1>
            {% endif %}
            {% if m.type== "photo" %}
                <img src="{{ asset('files/photos/' ~ m.tid ~ '_2.jpg') }}"/>
            {% endif %}
            {% if m.type== "video" %}
                {%  if m.text == "mp4" or m.text is null %}
                <video controls>
                    <source src="{{ asset('files/videos/'~ m.tid ~'.mp4') }}" type="video/mp4">
                    <source src="{{ asset('files/videos/'~ m.tid ~'.ogg') }}" type="video/ogg">
                    <source src="{{ asset('files/videos/'~ m.tid ~'.webm') }}" type="video/webm">
                    Your browser does not support the video tag.
                </video>
                {% else %}
                    <iframe src="//player.vimeo.com/{{ m.text }}?title=0&color={{ flux.color | slice(1,6) }}" width="350" height="200" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                {% endif %}
            {% endif %}
            {% if m.type== "voice" %}
                {%  if m.text is null %}
                <audio controls>
                    <source src="{{ asset('files/voices/'~ m.tid ~'.' ~ m.text) }}" type="audio/ogg">
                </audio>
                {%  else %}
                    <iframe width="350" height="146" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/{{ m.text }}&amp;color={{ flux.color | slice(1,6) }}&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
                {% endif %}
            {% endif %}
            {% if m.type == "document" %}
                {% set docExt = m.url|split('.')|last %}
                {% set docUrl = asset('files/documents/'~ m.tid ~'.'~ docExt ) %}
                {% set docName = m.url|split('/')|last %}
                {% if docExt == "mp4" %}
                <video controls loop autoplay muted >
                    <source src="{{ docUrl }}" type="video/mp4">
                </video>
                {% elseif docExt == "gif" or docExt == "jpg" or docExt == "JPG" %}
                <img src="{{ docUrl }}"/>
                {% else %}
                    <h4><b>{{ docName }}</b></h4>
                <a href="{{ docUrl }}" target="_blank">Download</a>
                {% endif %}
            {% endif %}
        </div>
        <h3>
            {% if m.user.picUrl != -1 and m.user.picUrl and file_exists('files/pic/'~ m.user.tid ~'_0.jpg') %}

            <img src="{{ asset('files/pic/'~ m.user.tid ~'_0.jpg') }}"/>
            {% endif %}
            <b>{{ m.user.fname |upper }} {{ m.user.lname|upper }}</b><br>
            {{ m.date|date("H:i, d M y") }}
        </h3>
        </article>
        {% endif %}
    {% endfor %}
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script>
    var image;
    var markers;
    var map;
    function initMap() {
      var uluru = {lat: 41.902783, lng: 12.496366}; // Roma
      //var uluru = {lat: 45.440847, lng: 12.315515}; // Venice

      image = {
        url: 'https://www.biennaleurbana.com/files/img/ellipse.png',
        scaledSize: new google.maps.Size(10, 10),
        origin: new google.maps.Point(0, 0),
        anchor: new google.maps.Point(5, 5)
      }
      map = new google.maps.Map(document.getElementById('map'), {
        zoom: 11,
        center: uluru,
        disableDefaultUI: true,
        styles : [
                  {
                      "featureType": "all",
                      "elementType": "labels.text.fill",
                      "stylers": [
                          {
                              "color": "#ffffff"
                          },
                          {
                              "weight": "0.20"
                          },
                          {
                              "lightness": "28"
                          },
                          {
                              "saturation": "23"
                          },
                          {
                              "visibility": "off"
                          }
                      ]
                  },
                  {
                      "featureType": "all",
                      "elementType": "labels.text.stroke",
                      "stylers": [
                          {
                              "color": "#494949"
                          },
                          {
                              "lightness": 13
                          },
                          {
                              "visibility": "off"
                          }
                      ]
                  },
                  {
                      "featureType": "all",
                      "elementType": "labels.icon",
                      "stylers": [
                          {
                              "visibility": "off"
                          }
                      ]
                  },
                  {
                      "featureType": "administrative",
                      "elementType": "geometry.fill",
                      "stylers": [
                          {
                              "color": "#000000"
                          }
                      ]
                  },
                  {
                      "featureType": "administrative",
                      "elementType": "geometry.stroke",
                      "stylers": [
                          {
                              "color": "#144b53"
                          },
                          {
                              "lightness": 14
                          },
                          {
                              "weight": 1.4
                          }
                      ]
                  },
                  {
                      "featureType": "landscape",
                      "elementType": "all",
                      "stylers": [
                          {
                              "color": "#08304b"
                          }
                      ]
                  },
                  {
                      "featureType": "poi",
                      "elementType": "geometry",
                      "stylers": [
                          {
                              "color": "#0c4152"
                          },
                          {
                              "lightness": 5
                          }
                      ]
                  },
                  {
                      "featureType": "road.highway",
                      "elementType": "geometry.fill",
                      "stylers": [
                          {
                              "color": "#000000"
                          }
                      ]
                  },
                  {
                      "featureType": "road.highway",
                      "elementType": "geometry.stroke",
                      "stylers": [
                          {
                              "color": "#0b434f"
                          },
                          {
                              "lightness": 25
                          }
                      ]
                  },
                  {
                      "featureType": "road.arterial",
                      "elementType": "geometry.fill",
                      "stylers": [
                          {
                              "color": "#000000"
                          }
                      ]
                  },
                  {
                      "featureType": "road.arterial",
                      "elementType": "geometry.stroke",
                      "stylers": [
                          {
                              "color": "#0b3d51"
                          },
                          {
                              "lightness": 16
                          }
                      ]
                  },
                  {
                      "featureType": "road.local",
                      "elementType": "geometry",
                      "stylers": [
                          {
                              "color": "#000000"
                          }
                      ]
                  },
                  {
                      "featureType": "transit",
                      "elementType": "all",
                      "stylers": [
                          {
                              "color": "#146474"
                          }
                      ]
                  },
                  {
                      "featureType": "water",
                      "elementType": "all",
                      "stylers": [
                          {
                              "color": "#021019"
                          }
                      ]
                  }
              ]
      });

      markers = [];
      points = $.parseJSON('{{ points|json_encode|raw|e('js') }}');

      points.forEach(function (point, i) {
        var latlng = {lat : parseFloat(point.lat), lng : parseFloat(point.lon)};

        markers[i] = new google.maps.Marker({
          position: latlng,
          map: map,
          icon: image
        });
      });


      {% set lastPoint = points|last %}
      lastTid = {{ lastPoint.tid }};

        setInterval(function(){
           $.getJSON( "https://www.biennaleurbana.com/etoile/points")
             .done(function(data){
               data.points.forEach(function(p){
                 tid = parseFloat(p.tid);
                 if(tid > lastTid){
                   var latlng = {lat : parseFloat(p.lat), lng : parseFloat(p.lon)};
                   //console.log(latlng);
                   markers[markers.length + 1] = new google.maps.Marker({
                     position: latlng,
                     map: map,
                     icon: image
                   });
                   lastTid = tid;
                 }
               });
             })
         }, 7000);
    }
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCQzeR2krfTF39Pspcr_Bn-kmNtETN9vsY&amp;callback=initMap"></script>
</body>
</html>
