<!DOCTYPE html>
<html lang="it">
<head>
  <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
  <style type="text/css">
    .gm-style .gm-style-cc span,.gm-style .gm-style-cc a,.gm-style .gm-style-mtc div{font-size:10px}
  </style>
  <style type="text/css">
    @media print {  .gm-style .gmnoprint, .gmnoprint {    display:none  }}
    @media screen {  .gm-style .gmnoscreen, .gmnoscreen {    display:none  }}
  </style>
  <style type="text/css">
    .gm-style-pbc{transition:opacity ease-in-out;background-color:rgba(0,0,0,0.45);text-align:center}
    .gm-style-pbt{font-size:22px;color:white;font-family:Roboto,Arial,sans-serif;position:relative;margin:0;top:50%;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%)}
  </style>

  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>BURB</title>
  <meta name="description" content="Biennale Urbana is an emerging trans-local agency that explores the limits and inhabits the existing distances in-between Biennale (Arts), Venice (City) and the Lagoon (Territory). Biennale Urbana serves as common ground between artistic action, transdisciplinary education and urban transformation.">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="apple-touch-icon" href="https://www.biennaleurbana.com/apple-touch-icon.png">
  <link rel="icon" href="https://www.biennaleurbana.com/favicon.ico">

  <!--link rel="stylesheet" href="https://www.biennaleurbana.com/assets/vendor/outdated-browser/outdatedbrowser/outdatedbrowser.css"-->
  <link rel="stylesheet" href="https://www.biennaleurbana.com/bundles/burb/css/main.css">
  <style type="text/css">
  .gm-style {
        font: 400 11px Roboto, Arial, sans-serif;
        text-decoration: none;
      }
    .gm-style img { max-width: none; }

    #etoile article{
      width : 100%;
      text-align: center;
    }
    #etoile article h1{
      text-align: center;
      font-size: 24px;
    }
    #etoile article h3{
      width : 100%;
      text-align: center;
      font-size: 16px;
      line-height: 30px;
      margin-bottom: 30px;
    }
    #etoile article h3 img{
      height: 30px;
      display: inline;
      margin-bottom: -10px;
      border-radius: 15px;
      -moz-border-radius: 15px;
      -webkit-border-radius: 15px;
    }
    #etoile article>div>img{
      max-width: 100%;
      text-align: center;
    }
  </style>
</head>
<body>
  <div id="etoile" style="width:200px">
        {% if m.type != "location" %}
        <article>
        <div>
            {% if m.type == "text" %}
                <h1 style="padding: 0; font-size:18px">{{ m.text|convert_encoding('ISO-8859-1', 'UTF-8')}}</h1>
            {% endif %}
            {% if m.type== "photo" %}
                <img src="{{ asset('files/photos/' ~ m.tid ~ '_2.jpg') }}"/>
            {% endif %}
        </div>
        <h3>
            {% if m.user.picUrl != -1 and m.user.picUrl and file_exists('files/pic/'~ m.user.tid ~'_0.jpg') %}

            <img src="{{ asset('files/pic/'~ m.user.tid ~'_0.jpg') }}"/>
            {% endif %}
            <b>{{ m.user.fname |upper }} {{ m.user.lname|upper }}</b><br>
            {{ m.date|date("H:i, d M y") }}
        </h3>
        </article>
        {% endif %}
  </div>
</body>
</html>
